<div>
<%= f.label :day, "Day" %>        
<%= f.text_field :day, :value => weekday , readonly: true%>
<br>

<%= f.label :opening_time, "opening_time" %>        
<%= f.time_field :opening_time %>
<br>

<%= f.label :closing_time, "closing_time" %>        
<%= f.time_field :closing_time %>
<br>

<%= f.label :break_starting_time, "break_starting_time" %>        
<%= f.time_field :break_starting_time %>
<br>

<%= f.label :break_finishing_time, "break_finishing_time" %>        
<%= f.time_field :break_finishing_time %>
<br>
</div>