<div class="projects-horizontal">
    <div class="container">
        <div class="intro">
            <h2 class="text-center"><%= t('Shops') %></h2> 
            <p class="text-center">Liste des magasins disponibles. </p>
        </div>
    </div>   
    <div class="row projects">
        <% @shops.each do |shop| %>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="https://source.unsplash.com/collection/1261/400x400"></a></div>
                        <div class="col">
                            <h3 class="name"><%= shop.name %></h3>
                            <div class='containers'>
                                <div class='container_left'>
                                    <p class="description"><%=t('Schedule') + ":"%></p>
                                    <% days = %w(Monday Tuesday Wednesday Thursday Friday Saturday Sunday) %>
                                    <% days.rotate!(days.index(Time.now.strftime("%A"))) %>
                                    <% case_pieces = days.each_with_index.map do |day, i| %>
                                        <% "WHEN '#{day}' THEN #{i}" %>
                                    <% end %>
                                </div>
                                <div class='container_right'>
                                    <% shop.business_opening_hours.order("CASE day #{case_pieces.join(' ')} END").each_with_index do |hour, index| %>
                                        <% if index == 0 %>
                                            <% if hour.opening_time.blank? || hour.closing_time.blank?  %>
                                                <h6 class='current-day'><strong><%= t("#{hour.day}") + " " + t('Close')%></h6>
                                            <% elsif (hour.opening_time.present? && hour.closing_time.present?) && (hour.break_starting_time.blank? || hour.break_finishing_time.blank?)  %>
                                                <h6 class='current-day'><strong><%= t("#{hour.day}") + " #{hour.opening_time.strftime('%H:%M')}-#{hour.closing_time.strftime('%H:%M')}" %></h6>
                                            <% elsif hour.opening_time.blank? || hour.closing_time.blank?  %>
                                                <h6 class='current-day'><strong><%= t("#{hour.day}") + " " + t('Close') %></h6>
                                            <% else %> 
                                                <h6 class='current-day'><strong><%= t("#{hour.day}") + " #{hour.opening_time.strftime('%H:%M')}-#{hour.break_starting_time.strftime('%H:%M')}, #{hour.break_finishing_time.strftime('%H:%M')}-#{hour.closing_time.strftime('%H:%M')}" %></h6>
                                            <% end %>
                                        <% else %>
                                            <% if hour.opening_time.blank? || hour.closing_time.blank?  %>
                                                <p class='other-days'><%= t("#{hour.day}") + " " + t('Close') %></p>
                                            <% elsif (hour.opening_time.present? && hour.closing_time.present?) && (hour.break_starting_time.blank? || hour.break_finishing_time.blank?)  %>
                                                <p class='other-days'><%= t("#{hour.day}") + " #{hour.opening_time.strftime('%H:%M')}-#{hour.closing_time.strftime('%H:%M')}" %></p>
                                            <% elsif hour.opening_time.blank? || hour.closing_time.blank?  %>
                                                <p class='other-days'><%= t("#{hour.day}") + " " + t('Close') %></p>
                                            <% else %> 
                                                <p class='other-days'><%= t("#{hour.day}") + " #{hour.opening_time.strftime('%H:%M')}-#{hour.break_starting_time.strftime('%H:%M')}, #{hour.break_finishing_time.strftime('%H:%M')}-#{hour.closing_time.strftime('%H:%M')}" %></p>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                            <p><%= link_to t('More details'), shop_path(shop) %></p>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<% I18n.available_locales %>
