
<div>
  <%= form_for(@shop) do |f| %>
    <div class="index-header">
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>
    <div>
      <% @weekdays.each do |weekday| %>
        <%= f.fields_for :business_opening_hours do |builder| %>
            <%= render 'form_new', :f => builder , :weekday => weekday %>
        <% end %>
      <% end %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
  <% end %>
<div>


