<%= form_for(@shop)  do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  
    <%= f.fields_for :business_opening_hours do |builder| %>
      <%= render 'business_opening_hour', :f => builder %>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>