<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center"><%= t('Shop')+ " n° #{@shop.id}" %></h1>
                    <h3 class="text-center"/><strong><%= t('Name') + ": #{@shop.name}" %></strong></h3>
                    <div  class="containers">
                        <div>
                            <img class="img-fluid" src="https://source.unsplash.com/collection/190727/600x300">

                        </div>
                            <div class="container_right">
 
                            
                            <% @ordered_weekday.each_with_index do |hour, index| %>
                                <% if index == 0 %>
                                    <% if hour.opening_time.blank? || hour.closing_time.blank?  %>
                                    <h5><strong><%= t("#{hour.day}") + " " + t('Close') %></h5>
                                    <% elsif (hour.opening_time.present? && hour.closing_time.present?) && (hour.break_starting_time.blank? || hour.break_finishing_time.blank?)  %>
                                        <h5><strong><%= t("#{hour.day}") + " #{hour.opening_time.strftime('%H:%M')}-#{hour.closing_time.strftime('%H:%M')}" %></h5>
                                    <% elsif hour.opening_time.blank? || hour.closing_time.blank?  %>
                                        <h5><strong><%= t("#{hour.day}") + " " + t('Close') %></h5>
                                    <% else %> 
                                        <h5><strong><%= t("#{hour.day}") + " #{hour.opening_time.strftime('%H:%M')}-#{hour.break_starting_time.strftime('%H:%M')}, #{hour.break_finishing_time.strftime('%H:%M')}-#{hour.closing_time.strftime('%H:%M')}" %></h5>
                                    <% end %>
                                <% else %>
                                    <% if hour.opening_time.blank? || hour.closing_time.blank?  %>
                                        <p><%= t("#{hour.day}") + " " + t('Close') %></p>
                                    <% elsif (hour.opening_time.present? && hour.closing_time.present?) && (hour.break_starting_time.blank? || hour.break_finishing_time.blank?)  %>
                                        <p><%= t("#{hour.day}") + " #{hour.opening_time.strftime('%H:%M')}-#{hour.closing_time.strftime('%H:%M')}" %></p>
                                    <% elsif hour.opening_time.blank? || hour.closing_time.blank?  %>
                                        <p><%= t("#{hour.day}") + " " + t('Close') %></p>
                                    <% else %> 
                                        <p><%= t("#{hour.day}") + " #{hour.opening_time.strftime('%H:%M')}-#{hour.break_starting_time.strftime('%H:%M')}, #{hour.break_finishing_time.strftime('%H:%M')}-#{hour.closing_time.strftime('%H:%M')}" %></p>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   